<div class="container">
    <div class="well">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">{{post.title}}</h4>
                <p class="text-right">By {{post.author}}</p>
                <p>{{post.body}}</p>
                <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i>&nbsp;{{post.publishedSince}}</span></li>
                    <li>|</li>
                    <span><i class="glyphicon glyphicon-comment"></i> {{post.comments.length}} comments</span>
                    <li>|</li>
                    <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <h4>Comments</h4>
                </div>
            </div>
            <hr>
                <div class="col-md-12">
                    {{#each post.comments as |comment| }}
                        <article class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default arrow left">
                                    <div class="panel-body">
                                        <header class="text-left">
                                            <div class="comment-user">
                                                <i class="fa fa-user"></i>
                                                {{#if comment.name}}
                                                    {{comment.name}}
                                                {{else}}
                                                    {{comment.email}}
                                                {{/if}}
                                            </div>
                                            <time class="comment-date" datetime="{{comment.commentAddedSince}}">
                                                <i class="fa fa-clock-o"></i> {{comment.commentAddedSince}}
                                            </time>
                                        </header>
                                        <div class="comment-post">
                                            <p>
                                                {{comment.message}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {{/each}}
                
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
                <form id="comment-form" class="form-horizontal" action="/post/comments" method="post">
                    <fieldset>
                        <legend class="text-center">Comment</legend>
                        <!-- Name input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Name</label>
                            <div class="col-md-9">
                                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                            </div>
                        </div>
                        <!-- Email input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email">*E-mail</label>
                            <div class="col-md-9">
                                <input id="email" name="email" type="text" placeholder="Your email" class="form-control" value="{{user.email}}">
                            </div>
                        </div>
                        <!-- Message body -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="message">*Message</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                                <input type="hidden" name="postId" id="postId" value="{{post.id}}">
                            </div>
                        </div>
                        <!-- Form actions -->
                        <div class="form-group">              
                            <div class="col-md-12 text-center">
                                <input type="submit" name="add_comment" id="add_comment" tabindex="4" class="btn btn-primary" value="Add Comment">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>  